In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
plt.style.use('ggplot')

In [4]:
df = pd.read_csv('Ecom.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/10 8:26,3.39,17850.0,United Kingdom

In [6]:
# Check for missing values
print("Missing values:\n", df.isnull().sum())

Missing values:
 InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

<h1>Data Cleaning

In [9]:
if 'Revenue' in df.columns:
    df['Revenue'] = df['Revenue'].fillna(df['Revenue'].mean())

In [10]:
df=df.drop_duplicates()

In [11]:
if 'Date' in df.columns:
    df['Date'] = pd.to_datetime(df['Date'])

<h1>EDA

In [14]:
if 'Date' in df.columns and 'Revenue' in df.columns:
    monthly_revenue = df.groupby(df['Date'].dt.to_period('M'))['Revenue'].sum()
    monthly_revenue.plot(kind='line', figsize=(10, 6), title='Monthly Revenue Trends')
    plt.xlabel('Month')
    plt.ylabel('Revenue')
    plt.show()